/* .cuadro {
    margin: 3rem;
    width: 100px;
    height: 100px;
    animation: mover 5s infinite alternate;
  } 
  @keyframes mover {
        from {
          transform: translate(0, 0);
          background-color: blue;
        }
        to {
          transform: translate(300px, 200px);
          background-color: red;
        }
    } */
/* 
    .circulo {
        margin: 4rem auto;
        width: 100px;
        height: 100px;
        background-color: red;
        border-radius: 50%;
        animation: cambio 7s infinite;
      }
      
      @keyframes cambio {
        0% {
            transform: scale(1);
            background-color: purple;
            border: 2px solid rebeccapurple;
        }
      
        10% {
            transform: scale(1);
            background-color: red;
            border: 2px solid darkred;
        }
      
        40% {
            transform: scale(2);
            background-color: yellow;
            border: 2px solid darkgoldenrod;
        }
      
        75% {
            transform: scale(1);
            background-color: green;
            border: 2px solid darkgreen;
        }
      
        100% {
            transform: scale(1);
            background-color: green;
            border: 2px solid darkgreen;
        }
      } */

      .ex1 {
        width: 350px;
        height: 150px;
        padding: 1rem;
        color: #eee;
        text-align: center;
        background-color: #333;
        border-radius: 1rem;
        display: flex;
        align-items: center;
    }
    
    @media (width > 900px) {
        .ex1 {
            color: #333;
            background-color: #eee;
            font-weight: bolder;
        }
    }

    