* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

body {
    height: 100vh;
    padding: 2rem;
    color: #333;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

article>ul>li>strong {
    display: inline-block;
    margin: 0.5rem 0 0.25rem 0;
}

pre {
    background-color: #eee;
    padding: 0.5rem;
    border-left: 2px solid #900;
}

/* Estilos para el formulario de prueba  */
.form-container {
    width: 50vw;
    padding: 1rem;
    margin: 0 auto;
    background-color: #eeea;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 1px #666;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 15px;
    border: 1px solid #666;
}

/* Pseudo-clases para campos de formulario */
input:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 4px #04a;
}

input:valid {
    border-color: #090;
    border-width: 3px;
    box-shadow: none;

}

input:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

/* Estilo de casilla seleccionada */
/* combinador de adyacencia directa 
se selecciona al hermano que sigue al primero
elemento +  hermano 
En este caso aplica una regla de estilo que se aplica
a un label hermano directo de checkbox */
input[type="checkbox"]+label {
    padding: 1rem 0;
    display: inline-block;

}

input[type="checkbox"]:checked+label {
    color: #07b;
    font-weight: bold;
}

/* Botón de envío */
button {
    width: 100%;
    padding: 0.5rem;
    background-color: #07b;
    border: 1px solid #04a;
    box-shadow: 1px 1px 4px #07b;
    border-radius: 0.5rem;
    color: #eee;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}


button:active {
    background-color: #090;
    border: 1px solid #050;
}

button:hover {
    background-color: #05b;
    border: 1px solid #04a;
    box-shadow: 0 0 4px #05b;
}

button:disabled {
    background-color: #999;
    border: 1px solid #666;
    cursor: not-allowed;
}