
body {
  font-family: 'Helvetica', sans-serif; /* Fuente */
}

header {
  display: flex;
  align-items: center; /* Coloca los items en el centro */
  justify-content: space-between; /* Separa los items de los items */
  background-color: #333; /* Color del fondo del header */
  padding: 20px; /* Espaciado del borde */
}

header img {
  width: 100px; /* Coloca tamaño a la foto */
  border-radius: 50%; /* Coloca la iamgen en circulo */
}

header ul {
  display: flex; /* Activa el flexbox */
  gap: 10px; /* Espaciado entre items */
  list-style: none; /* Elimina el punto de lista */
}

header ul li {
  background-color: #eee; /* Color del fondo de los items */
  padding: 10px 20px; /* Espaciado de los itmes con el borde */
  border-radius: 5px; /* Los coloca redondos */
}