
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;  /* Distribuye espacio entre la imagen y los botones */
    align-items: center;             /* Centra verticalmente los elementos dentro del header */
    height: 130px; 
    padding: 0 20px; 
    background-color: #2c2c2c;
    position: relative;
}

header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
header ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 5px;           
    padding: 0;         
    display: flex;         
    align-items: flex-end; /* Alinea los botones en la parte inferior */
    height: 85%;        
}
header ul li {
    margin-left: 15px;   
    padding: 8px 15px; 
    background-color: #dbdbdb; 
    color: rgb(0, 0, 0);    
    border-radius: 5px;
}
