header {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* flex-wrap: nowrap; */
}

img {
    width: 120px;
    border-radius: 50%;
    padding: 20px 15px;
}

ul {
    display: flex;
    list-style: none;
    /* flex-wrap: nowrap; */
}

ul li {
    font-family: Helvetica, sans-serif;
    background-color: #e0e0e0;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 15px;
    color: #333;
    margin-right: 10px;
}