* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    font-family: 'Courier New', monospace;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

div {
    width: 70%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

img {
    width: 300px;
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    color: #495057;
    line-height: 1.6;
    margin-bottom: 15px;
}
