* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    height: 20vh;
    background: url(./images/lake.png) no-repeat top;
    background-size: cover;
    padding: 40px;
}

header h1 {
    text-align: center;
    color: #f55310;
    font-size: 60px;
    text-shadow: 1px 1px 5px rgb(149, 147, 147);
    margin-bottom: 15px;
}

nav {
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    gap: 65px;
}

li a {
    text-decoration: none;
    color: #f55310;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 20px rgb(199, 198, 198);
    padding: 7px;
}

li a:hover {
    background-color: #000000d6;
    border-radius: 5px;
    text-decoration: underline;
}

.container {
    margin: 17px;
    display: flex;
}

.sidebar {
    flex: 1;
    height: 50vh;
   background-color: #f55310;
   border-radius: 10px;
   box-shadow: 3px 3px 1px #000;
   color: #fff;
   padding: 15px;
}

.sidebar:hover {
   background-color: #333333;
   border-radius: 10px;
   box-shadow: 1px 1px 20px 10px #f55310;
   color: #fff;
   padding: 15px;
}

.sidebar h2 {
    text-decoration: underline;
    margin-bottom: 7px;
}

.main-content {
    flex: 4;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 200px;
    overflow: hidden;
}

.main-content .left-column {
    margin: 10px;
    flex: 1;
}

.main-content .right-column {
    flex: 1;
}

.main-content .left-column article,
.main-content .right-column article {
    margin-bottom: 20px;
    padding: 7px;
}

.main-content article:hover {
    background-color: #eeeeee;
    border: 2px solid #dddddd;
    border-radius: 5px;
    font-style: italic;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    text-align: center;
    background-color: #50cd20;
    color: #fff;
}
