body{
    font-family: Arial;
    display: flex;
    flex-direction: column;
}
header{
    padding: 10px;
    background-image: url(././images/lake.png);
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: 700;
}
h1{
color: #F55310;
text-align: center;
font-size: 50px;
}

ul{
list-style: none;
text-align: center;
display: flex;
justify-content: center;
}
a{
    color: #F55310;
    font-size: larger;
    text-decoration: none;
    margin-inline: 40px;
    padding: 20px;
}
a:hover{
    background-color: #353535;
    text-shadow: 0 0 5px  white;
    text-decoration: underline;
    border-radius: 4%;
}
.container{
    margin: 10px #F55310;
    display: flex;
    justify-content: flex-start;
}
.sidebar{
    margin: 20px;
    padding: 15px;
    font-size: large;
    box-sizing: border-box;
    color: white;
    background-color: #F55310;
    border: 1px solid black;
    border-radius: 8%;
    box-shadow: 0 0 2px 0;
}
.sidebar:hover{
    background-color: #333333;
    box-sizing: border-box;
    box-shadow: 0 0 50px #F55310;
}
aside h2{
    text-decoration: underline; 
}
.main-content{
text-align: justify;
padding: 10px;
margin: 10px;
display: flex;
}
.right-column{
    padding: 10px;
}

article{
    text-align: justify;
    padding: 10px;
    font-size: medium;
}
article:hover{
    background-color: #EEEEEE;
    border-radius: 2%;
    border: 2px solid #ddd;
    
}
footer{
padding: 5px; 
width: 100%;
position: fixed;
bottom: 0;
color: white;
text-align: center;
background-color: #50CD20;
box-sizing: border-box;
}
