* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 2rem;
    background-color: antiquewhite;
}

h1,
h2,
h3,
h4 {
    margin-top: 1rem;
    color: #333;
}

p {
    margin-top: 8px;
}

ol,
ul {
    list-style-position: inside;

    li {
        text-indent: 2vw;
    }
}

ul {
    list-style-type: disc;
}

img {
    margin: 0 auto;
    display: block;
}

.inline-note {
    display: inline-block;
    padding: 0 1vw;
    background: #e72;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;

}

pre {
    margin: 8px 0;
    background-color: #eee;
    padding: 10px;
    border-left: 4px solid #19f;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px #333;
    overflow-x: auto;

    code {
        color: #a32
    }
}