* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: url(./image/calculadora.jpg)no-repeat top right/60%;
}

body:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(254, 255, 255, 0.478);
    z-index: -1;
}

h1 {
    margin-top: 100px;
    margin-bottom: 80px;
    color: #1D3F6F;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#ejercicios {
    display: flex;
    justify-content: space-evenly;
}

form {
    width: 20%;
    margin-top: 50px;
    padding: 20px;
    background-color: #9cb8e6d3;
    border-radius: 8px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #1D3F6F;
}

h4 {
    margin-bottom: 20px;
    color: #1D3F6F;
}

#contenedor {
    display: flex;
    gap: 25px;
}

#contenedor p {
    font-size: 20px;
}

button {
    background-color: #EC5648;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #f1978f;
}

button:active {
    background-color: #D3E1FC;
}

/* ejercicio 28 */

input[type="number"] {
    width: 30%;
    border: none;
    border-bottom: 2px solid #1D3F6F;
    background: none;
}

input[type="number"]:focus {
    outline: none;
    border-bottom: 2px solid #EC5648;
}

#solucion {
    margin-top: 40px;
    margin-bottom: 40px;
}

#resultado,
#media,
#cuadradoRespuesta {
    font-size: 1.2rem;
    font-weight: 700;
    color: #EC5648;
}

/* ejercicio 29 */

#array {
    background: none;
    border: none;
    border-bottom: 2px solid #201855;
}

#array:focus {
    outline: none;
    border-bottom: 2px solid #EC5648;
}
