
/*nav*/
h1{
    font-size: 55px;
    font-weight: bold;
}

nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li, header h1 {
    padding: 20px;
}

nav a{
    color: inherit;
    font-size: 22px;
}

/*************************************/
/*************************************/