body {
    font-family: "Open Sans", sans-serif;
    background-color: #eee;
    color: #343a40;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:hidden;
  }

  /*Para difuminar e introducir imagen de fondo*/
  body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/ejercicios/html-css/ejercicio-07-repaso-html-css-js/img/cooking-background.jpg');
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
    
  }
  
  /* Reseteo de márgenes y padding para todos los elementos */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo para el encabezado */
  header {
    background-color: #ff6f61;
    color: white;
    padding: 20px;
    text-align: left;
  }
  
  header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  /* Estilo para el menú de navegación */
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffc107;
  }
  .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

#recipe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    min-height: 400px
}

.recipe-card {
    display: block;
    max-width: 400px;
    width: 50%;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    outline: 1px solid #42be48;
    overflow: hidden; 
}

.recipe-card img {
    width: 100%; 
    padding: 8%;
    height: auto; 
    border-radius: 10%;
}

.recipe-card h2 {
    font-size: 24px;
    
}

.recipe-card p {
    display: flex;
    font-size: 16px;
}

.ingredients{
    display: inline-block;
    background-color: #eee; 
    border-radius: 8px;
    padding: 2%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    outline: 1px solid #42be48;
     
}


.instructions{
    display: block;
    border-radius: 8px;
    padding: 2%;
    background-color: #eee; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    outline: 1px solid #42be48;
    overflow: hidden;
}




































  /* Estilo para el pie de página */
  footer {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
 
 