* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #ff6f61;
    color: white;
}

header nav ul {
    height: 25%;
    list-style: none;
    display: flex;
    justify-content: center; 
}
header nav ul li {
    padding: 16px;
    margin: 0 18px;
}
header nav ul li a {
    color: white;
    text-decoration: none;
}
body {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),url(../img/cooking-background.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #ff6f61;
    color: white;
    height: 4rem;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
.meal-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

#meal-card {
    border: 1px solid #42be48;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#meal-card img {
    width: 250px;
    border-radius: 10px;
}

.meal-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#ingredients, #instructions {
    border: 1px solid #42be48;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#ingredients h3, #instructions h3 {
    color: #42be48;
    margin-bottom: 10px;
    margin-top: 20px;
    gap: 10px;
}

#ingredients ul {
    margin-left: 20px;
}

#instructions p {
    margin: 10px 0;
}