* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.534), rgba(255, 255, 255, 0.654)), 
    url('../../img/cooking-background.jpg') no-repeat center center / cover;
    font-family:"Open Sans",sans-serif;
    line-height: 1.6;
    background-color: #f6f6f6;
}

header {
    background-color: #ff6f61;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
}

header nav a:hover{
    color: #ffc107;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
  }

header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #ff6f61;
    text-align: center;
    color: #f6f6f6;
    padding: 21px;
}