/*fuentes*/
body{
    font-family:'Open Sans', sans-serif;
}

/*************************************/
/*************************************/

/*colores*/
.colorPrimario {
    background-color: #ff6f61;
}

.colorSecundario {
    background-color: #42be48;
}

.colorAcento {
    background-color: #ffc107;
}

.fuenteBlanca {
    color: #eeeeee;
}

.colorTexto {
    color: #343a40;
}

/*************************************/
/*************************************/

/*nav*/
h1{
    font-size: 55px;
}

nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li {
    padding: 20px;
}

nav a{
    color: inherit;
    font-size: 22px;
}


/*footer*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    padding: 5px;
}
/*************************************/
/*************************************/
