main {
  text-align: left;
  padding: 2rem 1rem;
  color: #343a40;
}

main h2 {
  color: #42be48;
}

main h3 {
  font-weight: bold;
  color: #42be48;
  ;
}

#contenedor-de-receta {
  border:2px solid #42be48;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: left;
  margin: 1.2rem auto;
  max-width: 400px;
}

#contenedor-de-receta img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}


#contenedor-de-receta p {
  font-size: 0.9rem;
  color: #666;  
}

#contenedor-de-receta .receta-link {
  background-color: #42be48;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

#contenedor-de-receta .receta-link:hover {
  background-color: #42be48;
}

.especificaciones{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cursiva{
  font-style: italic;
}

.titulo-carta{
text-decoration: underline #ff6f61;
}

