/* codigo css */
/* selector { propiedad: valor } */
/* Selectores CSS*/
/* selector de etiqueta */
p {
    color: tomato;
}

/* selector de clase  */
.negro {
    color: black;
}

/* selector de id */
#azul {
    color: blue;
}