 body {
<<<<<<< HEAD
     height: 100vh;
=======
     min-height: 100vh;
>>>>>>> development
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 /* ejemplo de fondo simple  */
 .simple {
     background-color: #efe0e0;
 }

 /* ejemplo de fondo de gradiente */
 .gradiente {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     overflow: hidden;
<<<<<<< HEAD
     background: radial-gradient(#efefef 80%, #999);
=======
     background: radial-gradient(#efefef 75%, #111);
>>>>>>> development
 }

 /* ejemplo de fondo image pequeña */
 .small-image {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
<<<<<<< HEAD
     background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../../../assets/images/bolboreta.png);

     /* repite la image  repeat no-reate */
     background-repeat: repeat;

     /* define como define la imagen respecto al desplazamiento scroll fixed */
     background-attachment: scroll;
=======
     background-image: linear-gradient(rgba(203, 220, 254, 0.9), rgba(203, 220, 255, 0.9)), url(../../../assets/images/bolboreta.png);
     /* background-image: url(../../../assets/images/bolboreta.png); */

     /* repite la image  repeat no-reate */
     background-repeat: no-repeat;

     /* define como define la imagen respecto al desplazamiento scroll fixed */
     background-attachment: fixed;
>>>>>>> development

     /* centra la imagen 2 params / params top left */
     background-position: center;

<<<<<<< HEAD
     /* define tamaño auto cover contain */
     background-size: cover;
=======
     /* define tamaño para la imagen auto cover contain */
     /* si la imagen es pequeña la estira  */
     background-size: cover;

>>>>>>> development
 }


 /* ejemplo de fondo imagen grande */
 .large-image {
     /* usa una imagen como fondo */
<<<<<<< HEAD
     background-image: url(../../../assets/images/cascuda.jpg);
     /* background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
      url(../../../assets/images/cascuda.jpg); */
     /* centra la imagen */
     /* background-position: center; */
     /* repite la image  */
     /* background-repeat: no-repeat; */
     /* background-size: cover; */
=======
     /* background-image: url(../../../assets/images/cascuda.jpg); */
     background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
         url(../../../assets/images/cascuda.jpg);

     background-attachment: fixed;

     /* centra la imagen */
     background-position: center;

     /* repite la image  */
     background-repeat: no-repeat;

     background-size: cover;
>>>>>>> development
 }


 .large-image-shortcut {
<<<<<<< HEAD
=======
     /* color, image , repeticion y posicion  */
>>>>>>> development
     background:
         linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
         url(../../../assets/images/cascuda.jpg) no-repeat center;
     background-attachment: fixed;
     background-size: cover;
 }

 .kafka {
     margin: 32px;
     line-height: 24px;
 }

 .kafka p {
     margin-top: 16px;
<<<<<<< HEAD
=======
 }

 .especial:hover {
     padding: 8px;
     color: #eee;
     background-color: #333;
>>>>>>> development
 }