 body {
     min-height: 100vh;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 /* ejemplo de fondo simple  */
 .simple {
     background-color: #efe0e0;
 }

 /* ejemplo de fondo de gradiente */
 .gradiente {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     overflow: hidden;
     background: radial-gradient(#efefef 75%, #111);
 }

 /* ejemplo de fondo image pequeña */
 .small-image {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-image: linear-gradient(rgba(203, 220, 254, 0.9), rgba(203, 220, 255, 0.9)), url(../../../assets/images/bolboreta.png);
     /* background-image: url(../../../assets/images/bolboreta.png); */

     /* repite la image  repeat no-reate */
     background-repeat: no-repeat;

     /* define como define la imagen respecto al desplazamiento scroll fixed */
     background-attachment: fixed;

     /* centra la imagen 2 params / params top left */
     background-position: center;

     /* define tamaño para la imagen auto cover contain */
     /* si la imagen es pequeña la estira  */
     background-size: cover;

 }


 /* ejemplo de fondo imagen grande */
 .large-image {
     /* usa una imagen como fondo */
     /* background-image: url(../../../assets/images/cascuda.jpg); */
     background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
         url(../../../assets/images/cascuda.jpg);

     background-attachment: fixed;

     /* centra la imagen */
     background-position: center;

     /* repite la image  */
     background-repeat: no-repeat;

     background-size: cover;
 }


 .large-image-shortcut {
     /* color, image , repeticion y posicion  */
     background:
         linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
         url(../../../assets/images/cascuda.jpg) no-repeat center;
     background-attachment: fixed;
     background-size: cover;
 }

 .kafka {
     margin: 32px;
     line-height: 24px;
 }

 .kafka p {
     margin-top: 16px;
 }

 .especial:hover {
     padding: 8px;
     color: #eee;
     background-color: #333;
 }