*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fec;
}
header{
    background-color: #ed8;
}
h1{ 
     font-size: 32px;
     text-align: center;
     padding-top: 16px;
}
header nav{
    display: flex;
    padding: 16px;
    justify-content: center;
    gap: 16px;
    list-style: none;
}
header nav li a {
    color: black;
    text-decoration: none;
    margin: 0;
    margin-left: 16px;
}
header nav li a:hover {
    color: rgb(246, 241, 241);
    text-decoration: none;
    margin: 0;
    margin-left: 16px;
}
main{
    background-color: #fec;
    width: auto;
    padding: 2rem;
    flex-grow: 1;
}
h3{
    margin-top: 2rem;
}
.card-wrapper{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center; 
}
.card {
    width: 200px;
    padding: 1rem;
    background-color: #cb6;
    border: 1px solid #656;
    border-radius: 1rem;
    display: flex;
    justify-content: center; 
}
.card a{
    text-decoration: none;
    color: black;
}
img {
    width: 150px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: #ed8;
    color: rgb(7, 7, 7);
    text-align: center;
    position: fixed;
}