 body {
     height: 100vh;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 /* ejemplo de fondo simple  */
 .simple {
     background-color: #efe0e0;
 }

 /* ejemplo de fondo de gradiente */
 .gradiente {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     overflow: hidden;
     background: radial-gradient(#efefef 80%, #999);
 }

 /* ejemplo de fondo image pequeña */
 .small-image {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../../../assets/images/bolboreta.png);

     /* repite la image  repeat no-reate */
     background-repeat: repeat;

     /* define como define la imagen respecto al desplazamiento scroll fixed */
     background-attachment: scroll;

     /* centra la imagen 2 params / params top left */
     background-position: center;

     /* define tamaño auto cover contain */
     
 }


 /* ejemplo de fondo imagen grande */
 .large-image {
     /* usa una imagen como fondo */
     background-image: url(../../../assets/images/cascuda.jpg);
     /* background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
      url(../../../assets/images/cascuda.jpg); */
     /* centra la imagen */
     /* background-position: center; */
     /* repite la image  */
     /* background-repeat: no-repeat; */
     /* background-size: cover; */
 }


 .large-image-shortcut {
     background:
         linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
         url(../../../assets/images/cascuda.jpg) no-repeat center;
     background-attachment: fixed;
     background-size: cover;
 }

 .kafka {
     margin: 32px;
     line-height: 24px;
 }

 .kafka p {
     margin-top: 16px;
 }