/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #f4f4f4;
    color: #333;
    padding: 1rem;
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

/* Sección de Presentación */
#about {
    padding: 1rem;
    text-align: center;
}

/* Galería */
#gallery {
    padding: 1rem;
    text-align: center;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Formulario de Contacto */
#contact {
    padding: 1rem;
    text-align: center;
}

form {
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}